@media all and (max-width: 1550px){
.mission_bg img {
    width: 200px;
}
.admission_main::before {
    width: 17%;
}
.admission_main::after {
    width: 17%;
}
.recruitment_main::before {
    width: 23%;
}
.logo a img {
    width: 290px;
}
.banner {
    padding: 430px 0px 410px 0px;
}
.register_bg {
    width: 20%;
}

}



@media all and (max-width: 1199px){
.logo a img {
	width: 250px;
}
.menu{
	position: absolute;
	top: 125px;
	left: 0;
	width: 100%;
	display: none;
}
.menu ul {
	gap: 12px;
	padding-bottom: 0px;
	border-bottom: none;
	flex-direction: column;
	background: rgba(0, 61, 85, 0.92);
	padding: 15px 0px;
	border-top: 1px solid #c6c6c64f;
	border-bottom: 1px solid #c6c6c64f;
}
.banner {
	padding: 350px 0px 335px 0px;
}
h1 {
	font-size: 55px;
}
.btn_style {
	padding: 12px 30px;
	font-size: 16px;
	border-radius: 5px;
}
.banner .btn_style {
	margin-top: 24px;
}
.header {
	align-items: flex-start;
	flex-direction: column;
}
.logo {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header_main.fixed {
	padding: 16px 0px 10px 0px;
}
.header_main.fixed .menu {
	top: 97px;
}
.menu_icon{
	display: block;
}
.mission_bg {
	display: none;
}
.recruitment_cards {
	flex-wrap: wrap;
}
.mission {
	justify-content: center;
	gap: 50px;
	flex-wrap: wrap;
}
.register_banner_main {
	background: url('../images/register/banner.jpg') no-repeat scroll 69% 0 / cover;
}

.our_school_boxs {
	justify-content: center;
	flex-wrap: wrap;
}
.eco_school_principles_contents {
	padding: 100px 80px 80px 80px;
	margin-top: 300px;
}
.eco_school_principles_contents p {
	max-width: 630px;
}
.all_students_main {
	padding-bottom: 150px;
}
.well_being_contents {
	padding: 0px 0px 0px 50px;
}
.well_being2 .well_being_contents {
	padding: 0px 50px 0px 0px;
}
.well_being_texts {
	padding-top: 70px;
	max-width: 440px;
}
.well_being_texts h2 {
	font-size: 36px;
	margin-bottom: 70px;
}
.well_being_texts p {
	font-size: 16px;
	line-height: 25px;
}
.well_being_img {
	max-width: 400px;
}
.well_being2 .well_being_texts h2 {
	margin-bottom: 40px;
}

.well_being_main {
	padding: 40px 0px 130px 0px;
}
.well_being2 {
	margin-top: 65px;
}

}



@media all and (max-width: 991px){
.menu ul{ gap: 25px; flex-wrap: wrap;}
.banner{ padding: 260px 0px 240px 0px; }

.mission_content, .about_content{ padding-left: 0px; margin-top: 25px; }
.footer_links_wrap{ justify-content: flex-start; margin-top: 25px; gap: 40px; }

.footer_bottom_links {
	gap: 40px;
}
.mission_content {
	order: 2;
}
.mission_main {
	padding: 110px 0px 110px 0px;
}
.vision_main .mission {
	justify-content: center;
}
.vision_main {
	padding: 110px 0px 110px 0px;
}
.admission_main::before {
	z-index: 1;
}
.admission_main::after {
	z-index: 1;
}
.admission_main {
	padding: 90px 0px 110px 0px;
}
.footer_bottom {
	padding: 12px 0px;
	margin: 25px 0px 25px 0px;
}
.footer_brand img {
	width: 225px;
}

.rawdah_mont {
	gap: 40px;
	flex-direction: column;
}
.rawdah_mont_left img {
	width: 300px;
}
.rawdah_mont_left {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.rawdah_mont_main {
	padding: 90px 0px 90px 0px;
}
.mission_state_main {
	padding: 120px 0px;
}
.mission_state p {
	margin-top: 60px;
}
.our_school_boxs {
	gap: 30px;
	margin-top: 70px;
}
.eco_school_principles_contents {
	padding: 50px 35px 35px 35px;
	margin-top: 250px;
}
.small_group_tuition_main .eco_school_principles_contents, 
.all_students_main .eco_school_principles_contents {
	margin-left: 0%;
}
.well_being_img {
	max-width: 100%;
}
.well_being_contents {
	padding: 70px 15px 50px 50px;
	order: 2;
}
.well_being2 .well_being_contents {
	padding: 50px 15px 50px 50px;
	justify-content: flex-start;
	text-align: left;
}
.well_being {
	flex-direction: column;
}
.well_being_texts {
	padding-top: 0px;
}
.well_being_contents::before {
	width: 450px;
	height: 400px;
}
.archive_footer_row {
	gap: 25px;
}
.archive_footer_copy {
	margin-top: 25px;
	margin-bottom: 40px;
}
.well_being_main {
	padding: 0px 0px 90px 0px;
}
.well_being2 .well_being_texts {
	align-items: flex-start;
}
.well_being2 .well_being_texts h2 {
	margin-left: 30px;
	margin-right: 0px;
	text-align: left;
}
.well_being2 .well_being_texts h2::before {
	right: inherit;
	left: -30px;
}

}



@media all and (max-width: 767px){
.logo a img {
	width: 200px;
}
.menu {
	top: 110px;
}
.header_main.fixed .menu {
	top: 82px;
}
.job_card {
	flex: 0 0 calc(100% / 2);
}
.footer_social {
	justify-content: flex-start;
}
.footer_bottom {
	gap: 15px;
}
.footer_social a {
	width: 35px;
	height: 35px;
	font-size: 16px;
}
.register_banner_main {
	background: url('../images/register/banner.jpg') no-repeat scroll 49% 0 / cover;
}
.single_content h3 {
	font-size: 20px;
	line-height: 25px;
}
.child_details_head h3 {
	font-size: 20px;
}
.child_details_head {
	padding: 12px 15px 12px 15px;
}
.form_group input, .form_group select, .form_group textarea {
	height: 43px;
}
.mb-0 {
	margin-bottom: 12px !important;
}
.single_contents p {
	margin-bottom: 15px;
	font-size: 16px;
	line-height: 25px;
}
.child_details_body {
	padding: 20px 20px 25px 20px;
}
.sfbt_total {
	padding: 12px 15px;
	margin: 40px 0px 40px 0px;
}
.mt-50 {
	margin-top: 40px !important;
}
.form_submit button {
	padding: 13px 0px;
}
.montessori_alumni_area {
	margin-top: 65px;
	padding-top: 50px;
	gap: 30px;
	flex-direction: column;
	text-align: center;
}

}



@media all and (max-width: 575px){
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
	padding-right: 15px;
	padding-left: 15px;
}
h1{ font-size: 45px; }
h2{ font-size: 30px; }
.admission_inner{ padding: 35px 18px; }
.logo a img {
	width: 180px;
}
.header_main {
	padding: 25px 0px;
}
.menu {
	top: 100px;
}
.menu ul {
	gap: 18px;
}
.header_main.fixed {
	padding: 20px 0px 15px 0px;
}
.header_main.fixed .menu {
	top: 86px;
}
.btn_style {
	padding: 10px 25px;
	font-size: 15px;
	border-radius: 4px;
}
.banner .btn_style {
	margin-top: 20px;
}
.banner {
	padding: 280px 0px 270px 0px;
}
.banner_main {
	background: url('../images/banner-bg2.jpg') no-repeat scroll 42% 0 / cover;
}
.mission_img_wrap img {
	width: 75%;
}
.mission_content p {
	margin-top: 20px;
	font-size: 18px;
}
.mission_content h2 {
	margin-bottom: 30px;
}
.recruitment_main::before {
	display: none;
}
.recruitment_main {
	padding: 90px 0px 90px 0px;
}
.footer_main {
	padding: 90px 0px 25px 0px;
}
.admission_main {
	padding: 90px 0px 100px 0px;
}
.mission_main {
	padding: 100px 0px 90px 0px;
}
.vision_main {
	padding: 100px 0px 90px 0px;
}
.job_card {
	flex: 0 0 100%;
}
.recruitment_head {
	margin-bottom: 60px;
}
.footer_brand img {
	width: 200px;
}
.footer_bottom_links {
	gap: 30px;
}
.child_details_body{
	padding: 20px;
}
.dob_wrap{
	flex-direction: column;
}
.register_main {
	padding: 90px 0px 100px 0px;
}
.form_group select {
	padding: 12px 14px;
}
.form_submit button {
	padding: 12px 0px;
	font-size: 16px;
}
.form_submit {
	margin-top: 45px;
}

.rawdah_mont_left img {
	width: 250px;
}
.rawdah_mont_right p {
	font-size: 18px;
	line-height: 28px;
}
.rawdah_mont_right a {
	gap: 12px;
	font-size: 16px;
	line-height: 25px;
	margin-top: 35px;
}
.rawdah_mont_right a img {
	width: 30px;
}
.mission_state p {
	margin-top: 70px;
	font-size: 18px;
	line-height: 29px;
	font-weight: 400;
}
.our_school_single h2 {
	font-size: 35px;
	margin-bottom: 10px;
}
.our_school_single p {
	font-size: 16px;
	line-height: 25px;
	padding: 9px 0px;
}
.oschool_shape img {
	width: 230px;
}
.oschool_shape2 img {
	width: 170px;
}
.oschool_shape3 img {
	width: 180px;
}
.montessori_alumni_area p {
	font-size: 18px;
	line-height: 28px;
}
.our_philosophy img {
	width: 180px;
}
.our_philosophy h2 {
	font-size: 33px;
	line-height: 110%;
}
.eco_school_principles_contents {
	padding: 40px 20px 35px 20px;
	margin-top: 148px;
}
.eco_school_principles_contents p {
	font-size: 17px;
	line-height: 25px;
	margin-top: 20px;
}
.eco_school_principles_contents h2 {
	margin-bottom: 35px;
}
.all_students_main {
	padding-bottom: 40px;
}
.well_being_contents {
	padding: 60px 15px 40px 20px;
}
.well_being_contents::before {
	width: 300px;
	height: 280px;
}
.well_being_texts h2::before {
	width: 4px;
}
.well_being2 .well_being_contents {
	padding: 60px 15px 40px 20px;
}
.archive_footer_logo_icon a img {
	width: 150px;
}
.archive_footer_s2{ height: 10px; background: #BE9641; }
.archive_footer_s3{ height: 10px; background: #1A1A1A; }
.archive_footer_s4{ height: 10px; background: #4F7B2F; }

.archive_footer_stripes {
	gap: 5px;
	padding-top: 12px;
}
.archive_footer_copy {
	margin-top: 25px;
	margin-bottom: 20px;
}
.well_being_texts h2 {
	margin-left: 25px;
}
.well_being_texts h2::before {
	width: 4px;
	left: -25px;
}
.well_being2 .well_being_texts h2 {
	margin-left: 25px;
}
.well_being2 .well_being_texts h2::before {
	left: -25px;
}
.mission_state_main {
	padding: 90px 0px;
}
.mission_state p {
	margin-top: 60px;
}

}


